# IDE
.idea/
.vscode/

# Gradle
.gradle/
build/
**/build/

# Android
local.properties

# Logs
*.log

# OS
.DS_Store
Thumbs.dbExpenseTracker_api/src/main/resources/serviceAccountKey.json
ExpenseTracker_api/src/main/resources/serviceAccountKey.json
